@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

body {
  font-family: "Alice", serif;
  font-size: 16px;
  background-color: #e2e2ec;
}

input {
  outline: none;
}

.App {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
}

.App-header {
  text-align: center;
  margin: 40px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin-bottom: 32px;
}
.App-footer a {
  color: black;
  text-decoration: none;
}
.App-footer a:hover {
  color: #a4a4a7;
}

@media (max-width: 480px) {
  .App {
    max-width: 640px;
  }
  .App-header {
    margin-top: 20px;
  }
  body {
    font-size: 12px;
  }
}
