.Phonetic {
  margin-bottom: 8px;
}

.Phonetic a {
  display: inline-block;
  color: black;
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  font-size: 12px;
  margin-right: 12px;
}
.Phonetic a:hover {
  background: white;
  color: #a4a4a7;
}
.Phonetic .text {
  font-weight: bold;
}
