.Phonetic {
  height: 50px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  font-size: 12px;
  margin-right: 10px;
}
.Phonetic a:hover {
  background: white;
  color: pink;
}
.Phonetic .text {
  font-weight: bold;
}
